/* App.css */
.App {
  align-items: var(--grid-align);
  display: flex;
  flex-wrap: wrap;
  gap:10px;
  justify-content: var(--grid-justify);
  
}
body{
  /* margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px; */
  margin: 10px;
}

